<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trailproject1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trailproject1">
        <activity android:name=".MeatWholesaler"></activity>
        <activity android:name=".MeatRetailer" />
        <activity android:name=".MeatCustomer" />
        <activity android:name=".VegetablesWholesaler" />
        <activity android:name=".VegetablesRetailer" />
        <activity android:name=".VegetablesCustomer" />
        <activity android:name=".FruitsWholesaler" />
        <activity android:name=".FruitsRetailer" />
        <activity android:name=".FruitsCustomer" />
        <activity android:name=".MainMenuWholesaler" />
        <activity android:name=".MainMenuRetailer" />
        <activity android:name=".MainMenuCustomer" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Customer"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".Retailer"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".Wholesaler"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".SignUp"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>