<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trailproject1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trailproject1">
        <activity android:name=".WholesalerSelector"></activity>
        <activity android:name=".RetailerCustomerMainActivity" />
        <activity android:name=".RetailerSelector" />
        <activity android:name=".RetailerWholesalerMainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".CustomerMainActivity" />
        <activity
            android:name=".CustomerOldOrders"
            android:parentActivityName=".CustomerMainActivity" />
        <activity
            android:name=".CustomerCart"
            android:parentActivityName=".CustomerMainActivity" />
        <activity
            android:name=".CustomerPaymentOptions"
            android:parentActivityName=".CustomerCart" />
        <activity
            android:name=".CustomerFinalPage"
            android:parentActivityName=".CustomerPaymentOptions" />
        <activity android:name=".WholesalerOnionSelect" />
        <activity android:name=".WholesalerTomatoSelect" />
        <activity android:name=".WholesalerOrangeSelect" />
        <activity android:name=".WholesalerAppleSelect" />
        <activity
            android:name=".Wholesaler"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".MainMenuRetailer" />
        <activity
            android:name=".FruitsRetailer"
            android:parentActivityName=".MainMenuRetailer" />
        <activity
            android:name=".VegetablesRetailer"
            android:parentActivityName=".MainMenuRetailer" />
        <activity android:name=".MainMenuWholesaler" />
        <activity
            android:name=".FruitsWholesaler"
            android:parentActivityName=".MainMenuWholesaler" />
        <activity
            android:name=".VegetablesWholesaler"
            android:parentActivityName=".MainMenuWholesaler" />
        <activity
            android:name=".RetailerVegetableTomatoAddToCartPage"
            android:parentActivityName=".VegetablesRetailer" />
        <activity
            android:name=".RetailerVegetableOnionAddToCartPage"
            android:parentActivityName=".VegetablesRetailer" />
        <activity
            android:name=".RetailerFruitOrangeAddToCartPage"
            android:parentActivityName=".FruitsRetailer" />
        <activity
            android:name=".RetailerFruitAppleAddToCartPage"
            android:parentActivityName=".FruitsRetailer" />
    </application>

</manifest>